<!doctype html>
<html lang="en-US">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="stylesheets/slick-theme.css" rel="stylesheet" type="text/css">
<link href="stylesheets/slick.css" rel="stylesheet" type="text/css">
<script src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js"></script>
<script type="text/javascript" src="javascripts/slick.min.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
<link href="stylesheets/singlePageTemplate.css" rel="stylesheet" type="text/css">
<!--The following script tag downloads a font from the Adobe Edge Web Fonts server for use within the web page. We recommend that you do not modify it.--> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/css/drawer.min.css">
<script>var __adobewebfontsappname__="dreamweaver"</script> 
<script src="http://use.edgefonts.net/source-sans-pro:n2:default.js" type="text/javascript"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js"></script>

<title>Beauty Salon</title>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries --> 
<!-- WARNING: Respond.js doesn't work if you view the page via file:// --> 
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<!-- Main Container -->
<div class="container"> 
  <!-- Navigation -->
<header> <a href="">
    <img  src="images/logo.gif" class="logo"></a>
	 <nav class="nav">
      <ul>
        <li><a href="#hero">HOME</a></li>
        <li><a href="#about">ABOUT</a></li>
        <li> <a href="#staff">STAFF</a></li>
		<li><a href="#menu">MENU</a></li>
		<li><a href="#resavation">RESERVATION</a></li>
      </ul>
    </nav>

  </header>
  <!-- Hero Section -->
<ul class="slider">
   <li><a href="#"><img src="images/20190412032506.jpg" alt="image01"></a></li>
   <li><a href="#"><img src="images/958427.jpg" alt="image02"></a></li>
   <li><a href="#"><img src="images/make-up-4093535_1280.jpg" alt="image03"></a></li>
</ul>
	
 
  <!-- About Section -->
  <section class="about" id="about">
    
	<p class="text_column">		<strong>BLOG</strong><br><br>
		  					  <time>・2019-08-10</time><br><a href="#TOP">熱い夏を乗り切るヘアスタイルをご紹介</a><br><br>
		  					  <time>・2019-08-07</time><br><a href="#TOP">新しいヘアケア商品が入荷しました</a><br><br>
	  						  <time>・2019-08-03</time><br><a href="#TOP">新人スタイリストのご紹介</a></p>							
    <p class="text_column">   <strong>CONCEPT</strong><br><br>
								「髪から毎日を健康に」<br><br>	
								私たちのサロンコンセプトはお客様に<br>
								日々の生活を髪から生き生きしたもの<br>
								にするお手伝いをさせて頂きます。</p>
    <p class="text_column"> <strong>RECRUITE</strong><br><br>
								当サロンではスタイリストを募集しております。<br><br>
								詳しくは店舗までお問い合わせください。</p>
  </section>
  <!-- Stats Gallery Section -->
  <h1 id="staff">Staff</h1>
  <div class="gallery">
	  <div class="imgcontents">
	   
    <div class="thumbnail">
      <img src="images/アシスタント1.png">
      <h4>○○</h4>
      <p>アシスタント</p>
    </div>
    <div class="thumbnail">
	<img src="images/stylist1.png">
      <h4>□□</h4>
      <p>トップスタイリスト</p>
		
    </div>
    <div class="thumbnail">
	<img src="images/stylist2.png">
      <h4>✖✖</h4>
      <p>スタイリスト</p>
    </div>
    <div class="thumbnail">
	<img src="images/アシスタント2.png">
      <h4>☆☆☆</h4>
      <p>アシスタント</p>
    </div>
	  </div>
  </div>
	<h2>Menu</h2>
  <!-- Parallax Section -->
	 <footer id="menu">
    <article class="menu_column">
	<h3>CUT</h3>
     <table>
	<tr>
		<th></th><th></th><th>Short</th><th>Long</th>
	</tr>
  <tr>
    <th class="menu">スタイリスト</th>
    <td></td>
    <td>¥3800</td>
    <td>¥4300</td>
  </tr>
  <tr>
    <th class="menu">トップスタイリスト</th>
    <td></td>
    <td>¥4300</td>
    <td>¥4800</td>
  </tr>
  <tr>
    <th class="menu">前髪カット</th>
    	<td></td>
	  <td colspan="2">¥500</td>
    
  </tr>
  <tr>
    <th class="menu">眉毛カット</th>
    <td></td>
    
    <td colspan="2">¥600</td>
  </tr>
  
</table>
    </article>
    <article class="menu_column">
     <h3>PERM・COLOR</h3>
     <table>
	<tr>
		<th></th><th></th><th>Short</th><th>Long</th>
	</tr>
  <tr>
    <th class="menu">デザインパーマ</th>
    <td></td>
    <td>¥5500~</td>
    <td>¥6500~</td>
  </tr>
  <tr>
    <th class="menu">ポイントパーマ</th>
    <td></td>
    <td>¥3300~</td>
    <td>¥3800~</td>
  </tr>
  <tr>
    <th class="menu">縮毛矯正</th>
    	<td></td>
	  <td>¥8500~</td>
	  <td>¥9600~</td>
  </tr>
  <tr>
    <th class="menu">カラー　全頭　</th>
    <td></td>
    <td >¥3200</td>
	<td>¥3800</td>
  </tr>
</table>
</article>
    <article class="menu_column">
     <h3>TREATMENT</h3>
     <table>
		
  <tr>
    <th class="menu">クイック　トリートメント</th>
    <td></td>
    <td colspan="2">¥3000~</td>
    <td></td>
  </tr>
  <tr>
    <th class="menu">スタンダード　トリートメント</th>
    <td></td>
    <td colspan="2">¥4000~</td>
    <td></td>
  </tr>
  <tr>
    <th class="menu">プレミアム　トリートメント</th>
    	<td></td>
	  <td colspan="2">¥4800~</td>
	  <td></td>
  </tr>
  
</table>
</article>
  </footer>
  <section class="banner" id="resavation">
    <h2 class="parallax">Resavation</h2>
    <p class="parallax_description">当店は完全予約制となっております。<br>ご利用になります際は電話で予約をお取りください。</p>
  </section>
  <!-- More Info Section -->
  <footer>
    <article class="footer_column">
      <h3>ABOUT</h3>
      <img src="images/scissor.jpg" alt="" width="400" height="200" class="cards"/>
		<h4>営業時間・休業日</h4>
		<p>・平日 / 土日祝<br>
        10:00～20:00  （最終受付カット19:00）<br><br>
		・定休日<br>
			毎週月曜日</p>
    </article>
    <article class="footer_column">
      <h3>MAP</h3>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3225.2857210582765!2d136.2225299956384!3d36.06213446242951!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5ff8beed32739c57%3A0x5b241c3c7faf0f59!2z56aP5LqV6aeF!5e0!3m2!1sja!2sjp!4v1565771910955!5m2!1sja!2sjp" width="400" height="200" frameborder="0" style="border:0" allowfullscreen class="cards"></iframe>
		<h4>道順</h4>
		<p>・福井駅東口　徒歩3分</p>
</article>
  </footer>
  <!-- Footer Section -->
  
  <!-- Copyrights Section -->
  <div class="copyright"><aside class="icon-sns">

       <a href="https://www.twitter.com" class="post-sns">
        <span class="fab fa-twitter" title="Twitter"></span></a>
        <a href="https://www.facebook.com" class="post-sns">
        <span class="fab fa-facebook" title="Facebook"></span></a>
        <a href="https://line.me/ja/" class="post-sns">
          <span class="fab fa-line" title="Line"></span></a>

    </aside>
     <p>福井県福井市〇〇町☓☓☓☓<br>
      Copyright © 2019 BeautySalon All Rights Reserved.　</p>
</div>
</div>
<!-- Main Container Ends -->
</body>

<script>
	$('.slider').slick({
    autoplay:true,
    autoplaySpeed:3000,
    dots:true,
});
	
</script>

</html>
